// color 
$main_purple:#5a4ef4;
$dark_purple:#1b0664;
$light_purple:#8c88f6;
$subChoice_color:#f29057;
$back_gray:#eeeeee;
$light_back_gray:#efefef;
$main_text:#333333;
$sub_text:#8e8e8e;
$white:#ffffff;

